doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery/jquery.dataTables.css')
    script(type='text/javascript', src='/javascripts/jquery/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/javascripts/jquery/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/jquery/jquery.dataTables.min.js')
    script(type='text/javascript', src='/javascripts/underscore/underscore-min.js')
    script(type='text/javascript', src='/javascripts/moment/moment.min.js')
    script(type='text/javascript', src='/javascripts/numeral/numeral.min.js')

  body
    block content